<div class="client-card">
  <h3 class="client-name">{{ client.name }}</h3>
  <p class="client-info">Salário: {{ client.salary | currency:'BRL':'symbol':'1.2-2' }}</p> <p class="client-info">Empresa: {{ client.companyValuation | currency:'BRL':'symbol':'1.2-2' }}</p>

  <div class="card-actions">
    <button class="action-button add" (click)="onAddClick()" title="Selecionar Cliente">
      <img [src]="addIcon" alt="Selecionar">
    </button>
    <button class="action-button edit" (click)="onEditClick()" title="Editar Cliente">
      <img [src]="editIcon" alt="Editar">
    </button>
    <button class="action-button delete" (click)="onDeleteClick()" title="Remover Cliente">
      <img [src]="deleteIcon" alt="Remover">
    </button>
  </div>
</div>